body {
    background-image: url(https://www.muralsyourway.com/media/catalog/product/cache/1/base/1200x/040ec09b1e35df139433887a97daa66f/c/u/cute-triceratops-pattern-wallpaper.jpg);
    background-size: repeat-y;
}


h3 {
    text-align: center;
    color: #2F4E00;;
    font-size: 2em;
    background-color: rgba(170, 57, 57,0.2);
    border-radius: 25px;
}

